li.infoItem {font-size: 0.77em; clear: left;}
li.infoItem.moduleList {margin-top: 0.7em; margin-bottom: 0.7em;}
li.infoItem span { }
li.infoItem span.label {font-weight: bold;}
li.infoItem span.value {}
