li.infoItem {font-size: 0.77em; clear: left;}
li.infoItem.moduleList {margin-top: 0.7em; margin-bottom: 0.7em;}
li.infoItem span { }
li.infoItem span.label {font-weight: bold;}
li.infoItem span.value {}


/* group */
.moreInfoLink {font-weight: bold;}
.explanation {font-size: 0.77em;}
.tags {font-size: 0.77em;}
.tags .current, #SidebarModuleProductGroupTags a.current {font-size: 1.23em; color: #317010;}
.loading form input.text{background-image: url("/ecommerce/images/loading.gif");background-position: bottom right; background-repeat: no-repeat;}
.loading form input.action{display: none;}
.notReadyToSearch {color: #ccc;}
#Quantity {display: none;}

.authorHeading{width: 16px; height: 16px; display: inline-block; background-image: url(/ecommerce_software/images/author.png); text-indent: -3000px; }
.tagHeading{width: 16px; height: 16px; display: inline-block; background-image: url(/ecommerce_software/images/tag.png); text-indent: -3000px; }

p.source {font-size: 50%; margin-top: 0px; padding-top:0px; margin-bottom: 1em; }

h3.moduleH3 {padding-top: 1.3em!important;}
